Dr-DevEloper_NodeRed-flow.json
[{"id":"fe9929c8.fb8a9","type":"switch","z":"64b163ae.fda18c","name":"Click","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"error","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":600,"wires":[[],["dcba186f.c826d8","c8513f1c.82c0e"]]},{"id":"6d9a55e7.498cbc","type":"link out","z":"64b163ae.fda18c","name":"","links":["7f1f35c6.9ab4c4","e845947d.112d8"],"x":995.0000610351562,"y":942.8570861816406,"wires":[]},{"id":"5384f11c.28c14","type":"comment","z":"64b163ae.fda18c","name":"Did the text include a color?","info":"This flow requires the \nnode-red-node-pi-neopixel \nnpm package.","x":1140.0000610351562,"y":942.8570861816406,"wires":[]},{"id":"dcba186f.c826d8","type":"file","z":"64b163ae.fda18c","name":"Save photo.jpg","filename":"/tmp/photo.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":840,"y":620,"wires":[[]]},{"id":"d38474a5.307688","type":"comment","z":"64b163ae.fda18c","name":"Remember to keep the .jpg < 2MB","info":"","x":480,"y":680,"wires":[]},{"id":"46ab8dcf.59d034","type":"comment","z":"64b163ae.fda18c","name":"Reload picture into Node-RED Dashboard","info":"<script>\n window.location.reload(false); \n</script>","x":1140,"y":700,"wires":[]},{"id":"fe6a5c4d.247988","type":"camerapi-takephoto","z":"64b163ae.fda18c","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"180","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"","name":"Take Pi Camera Photo","x":556.6666641235352,"y":454.9999942779541,"wires":[["fe9929c8.fb8a9","330a3411.d3cdec"]]},{"id":"ce3cd9d0.58065","type":"inject","z":"64b163ae.fda18c","name":"Test TJBot RaspPi Photo","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":141,"y":337,"wires":[["25275449.3fcb7c"]]},{"id":"40d160a6.35af18","type":"comment","z":"64b163ae.fda18c","name":"Find and summarise People","info":"Can be triggered from the Dashboard button or pushing the SenseHAT joystick left","x":140,"y":780,"wires":[]},{"id":"e648fd4d.bd7a88","type":"comment","z":"64b163ae.fda18c","name":"Image Classification","info":"Can be triggered from the Dashboard button or pushing the SenseHAT joystick right","x":110,"y":880,"wires":[]},{"id":"c8513f1c.82c0e","type":"base64","z":"64b163ae.fda18c","name":"Encode","action":"","property":"payload","x":820,"y":660,"wires":[["30d318ba.d8046"]]},{"id":"8a52c29e.acb028","type":"debug","z":"64b163ae.fda18c","name":"What did Watson find?","active":true,"console":"false","complete":"template","x":1080,"y":900,"wires":[]},{"id":"16d9220b.273836","type":"visual-recognition-v3","z":"64b163ae.fda18c","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"detectFaces","lang":"en","x":650,"y":880,"wires":[["db5dba7f.6471d"]]},{"id":"e8ad129b.6b07f","type":"function","z":"64b163ae.fda18c","name":"Process Results","func":"if (typeof msg.result == 'undefined') {\n return null;\n}\n\nvar bestcolor = -1;\nvar colorscore = 0;\nvar c_id = 0;\nvar say = \"\";\nvar item;\n\nfor ( c_id=0; c_id < (msg.result.images[0].classifiers.length); c_id++ ){\n // find the best color, if any\n for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n if ( object.includes(\"color\") ) {\n if( msg.result.images[0].classifiers[c_id].classes[i].score > colorscore){\n bestcolor = i;\n colorscore = msg.result.images[0].classifiers[c_id].classes[i].score;\n }\n }\n }\n \n var bestItem = 0;\n var itemScore = 0;\n for( i =0; i<(msg.result.images[0].classifiers[c_id].classes.length); i++ ){\n var object = msg.result.images[0].classifiers[c_id].classes[i].class;\n if ( !object.includes(\"color\") ) {\n if( msg.result.images[0].classifiers[c_id].classes[i].score > itemScore){\n bestItem = i;\n itemScore = msg.result.images[0].classifiers[c_id].classes[i].score;\n }\n }\n }\n \n if( bestcolor != \"-1\") {\n // found a color\n item = msg.result.images[0].classifiers[c_id].classes[bestcolor].class + \" \" + msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n bestcolor = -1;\n } else {\n item = msg.result.images[0].classifiers[c_id].classes[bestItem].class;\n }\n// say = say + \" Watson's \" + msg.result.images[0].classifiers[c_id].name + \" classifier thinks this picture contains a \" + item +\".\";\n say = say + \" Watson thinks this picture contains a \" + item +\".\";\n}\nmsg.payload = say;\n\nvar picInfo = msg.result.images[0].classifiers[0].classes;\nvar arrayLength = picInfo.length;\n\nmsg.template=\"<style>h4 { text-align: left; margin: 10px; }\";\nmsg.template=msg.template+\"table { width: 100%; margin-top: 10px; }\";\nmsg.template=msg.template+\"th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}\";\nmsg.template=msg.template+\".classifier {background-color: rgb(85,150,230);text-align: center;}\";\nmsg.template=msg.template+\".title { background-color:LightGrey;}</style>\";\n\nmsg.template=msg.template+\"<h4>\"+say+\"</h4><table span=100%><tr><th>Class</th><th>Confidence</th></tr>\";\nfor (var i = 0; i < arrayLength; i++) {\n msg.template = msg.template + \"<tr><td>\" + picInfo[i].class + \"</td><td>\" + picInfo[i].score + \"</td></tr>\";\n}\nmsg.template = msg.template + \"</table>\"\n\n\nreturn msg;","outputs":1,"noerr":0,"x":840.0000610351562,"y":922.8570861816406,"wires":[["8a52c29e.acb028","6d9a55e7.498cbc","bcfee6c1.6c5978"]]},{"id":"7c5fb252.9dbe24","type":"file in","z":"64b163ae.fda18c","name":"photo.jpg","filename":"/tmp/photo.jpg","format":"","sendError":true,"x":480,"y":880,"wires":[["16d9220b.273836"]]},{"id":"b89137aa.697b5","type":"comment","z":"64b163ae.fda18c","name":"Countdown to take Photos from a Raspberry Pi Camera","info":"If you add a Raspberry Pi Camera to your TJBot,\nhe can \"see\" and take Photos through his \n\"eye\" cutout.\n\nThis Node-RED flow requires the\nnode-red-contrib-camerapi npm package.\n\nDon't forget to enable the Camera in the \nRaspberry Pi Configuration utility.\n\nThe camera can be controlled in 3 ways:\n- Moving the SenseHAT joystick up \n- From the botton on the dashboard\n- From the inject node in the flow\n\nA 5 second count down is started when a picture is requested - the countdown is shown on the SenseHAT LED","x":220,"y":220,"wires":[]},{"id":"957ac82b.f77158","type":"comment","z":"64b163ae.fda18c","name":"node-red-contrib-camerapi dependency","info":"This flow requires\n node-red-contrib-camerapi\n\nYou can either \n $ sudo npm -g install node-red-contrib-camerapi\n and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":500,"y":640,"wires":[]},{"id":"e90e0653.07b438","type":"comment","z":"64b163ae.fda18c","name":"node-red-node-watson dependency","info":"This flow requires the\n node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n Visual Recognition\n\nYou can either \n $ sudo npm -g install node-red-node-watson\n and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":640,"y":800,"wires":[]},{"id":"7e82db55.087294","type":"comment","z":"64b163ae.fda18c","name":"Paste API keys for Visual Recognition","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Visual Recognition service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":650,"y":840,"wires":[]},{"id":"6e73a98f.165228","type":"comment","z":"64b163ae.fda18c","name":"node-red-node-base64 dependency","info":"This flow requires\n node-red-node-base64\n \nYou can either \n $ sudo npm -g install node-red-node-base64\n and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":820,"y":700,"wires":[]},{"id":"68f6c3e0.2ac7bc","type":"change","z":"64b163ae.fda18c","name":"white","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,white","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":540,"wires":[["6503f547.0b7204"]]},{"id":"330a3411.d3cdec","type":"change","z":"64b163ae.fda18c","name":"black","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":560,"wires":[[]]},{"id":"d2584a31.55d1f8","type":"rbe","z":"64b163ae.fda18c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":250,"y":140,"wires":[["75ef6863.f651b8"]]},{"id":"75ef6863.f651b8","type":"switch","z":"64b163ae.fda18c","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"},{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"ENTER","vt":"str"}],"checkall":"true","outputs":4,"x":370,"y":140,"wires":[["6da2394a.0bc"],["ab4b3b63.3f2e98"],["e9c27a83.208148"],["1bc45bef.8ffdec"]]},{"id":"6da2394a.0bc","type":"switch","z":"64b163ae.fda18c","name":"LEFT joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":540,"y":60,"wires":[["3474ed02.646d4a"]]},{"id":"ab4b3b63.3f2e98","type":"switch","z":"64b163ae.fda18c","name":"RIGHT joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":540,"y":100,"wires":[["3051b4ad.a11bdc"]]},{"id":"e9c27a83.208148","type":"switch","z":"64b163ae.fda18c","name":"DOWN joystick","property":"payload.state","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","outputs":1,"x":540,"y":140,"wires":[["2b4245f5.121a4a"]]},{"id":"7a5c18ea.efa4f","type":"link in","z":"64b163ae.fda18c","name":"process photo","links":["7fc10355.4faab4"],"x":75,"y":540,"wires":[["68f6c3e0.2ac7bc"]]},{"id":"3474ed02.646d4a","type":"link out","z":"64b163ae.fda18c","name":"","links":["f608f98c.85a93"],"x":655,"y":60,"wires":[]},{"id":"3051b4ad.a11bdc","type":"link out","z":"64b163ae.fda18c","name":"","links":["e06716cc.ba4748"],"x":655,"y":100,"wires":[]},{"id":"7fc10355.4faab4","type":"link out","z":"64b163ae.fda18c","name":"","links":["7a5c18ea.efa4f"],"x":975,"y":480,"wires":[]},{"id":"f608f98c.85a93","type":"link in","z":"64b163ae.fda18c","name":"Read_photo","links":["3474ed02.646d4a"],"x":355,"y":860,"wires":[["7c5fb252.9dbe24"]]},{"id":"e06716cc.ba4748","type":"link in","z":"64b163ae.fda18c","name":"Summarise_photo","links":["3051b4ad.a11bdc"],"x":355,"y":940,"wires":[["c75054b.eacd7a8"]]},{"id":"25275449.3fcb7c","type":"change","z":"64b163ae.fda18c","name":"camera icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black,2-4,2,silver,0-6,3,silver,0-1,4,silver,5-6,4,silver,0-1,5,silver,3,5,white,5-6,5,silver,0-1,6,silver,5-6,6,silver,0-6,7,silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":533.3333129882812,"y":274.4444580078125,"wires":[["9b844898.3fa"]]},{"id":"9b844898.3fa","type":"delay","z":"64b163ae.fda18c","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":500,"y":320,"wires":[["196f034f.2b0635","71bd1e81.a2456"]]},{"id":"196f034f.2b0635","type":"change","z":"64b163ae.fda18c","name":"3","rules":[{"t":"set","p":"payload","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":320,"wires":[["3fe22a79.e3ad3e"]]},{"id":"3477a8b.3946ad8","type":"change","z":"64b163ae.fda18c","name":"2","rules":[{"t":"set","p":"payload","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":360,"wires":[["f83c1ac0.3a5928"]]},{"id":"3fe22a79.e3ad3e","type":"delay","z":"64b163ae.fda18c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":360,"wires":[["3477a8b.3946ad8","546b6ec2.1869c8"]]},{"id":"fbc9b038.d18648","type":"change","z":"64b163ae.fda18c","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":400,"wires":[["1e2414aa.aa36db"]]},{"id":"f83c1ac0.3a5928","type":"delay","z":"64b163ae.fda18c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":400,"wires":[["fbc9b038.d18648","a3718732.1e9678"]]},{"id":"1e2414aa.aa36db","type":"delay","z":"64b163ae.fda18c","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":440,"wires":[["7fc10355.4faab4","e3bd4b39.b0549"]]},{"id":"7923e08.96a882","type":"comment","z":"64b163ae.fda18c","name":"Capture the picture from the camera and save to local file","info":"The SenseHAT LED is lit white to provide additional light for the camera whilst the picture is being captured","x":230,"y":500,"wires":[]},{"id":"b3180ce4.0a2dd","type":"watson-speech-to-text","z":"64b163ae.fda18c","name":"","alternatives":"","speakerlabels":false,"smartformatting":false,"lang":"en-GB","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"NoCustomisationSetting","custom-weight":"","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"","word-confidence":false,"password":"","apikey":"mJtdT3lLK1iB5hdGT8SKpXG5nCrCZEaekCIwmFOS5fcK","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/speech-to-text/api","x":1120.0000610351562,"y":1222.8570861816406,"wires":[["af069f93.a5f418","23587e64.e263a2","ffb8e03b.4f2e9"]]},{"id":"af069f93.a5f418","type":"debug","z":"64b163ae.fda18c","name":"","active":true,"console":"false","complete":"transcription","x":1330.0000610351562,"y":1222.8570861816406,"wires":[]},{"id":"6899f39f.95979c","type":"switch","z":"64b163ae.fda18c","name":"SelectColor","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"wave","vt":"str"},{"t":"cont","v":"white","vt":"str"},{"t":"cont","v":"yellow","vt":"str"},{"t":"cont","v":"grey","vt":"str"},{"t":"cont","v":"gray","vt":"str"},{"t":"cont","v":"red","vt":"str"},{"t":"cont","v":"blue","vt":"str"},{"t":"cont","v":"green","vt":"str"},{"t":"cont","v":"purple","vt":"str"},{"t":"cont","v":"pink","vt":"str"},{"t":"cont","v":"orange","vt":"str"},{"t":"cont","v":"alarm","vt":"str"},{"t":"cont","v":"weather","vt":"str"},{"t":"cont","v":"off","vt":"str"},{"t":"cont","v":"black","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":16,"x":190,"y":1700,"wires":[["858f8c2a.3fbbc8"],["490d6d83.a74f5c"],["87fa0c70.9893b8"],["54975f8e.a63d58"],["54975f8e.a63d58"],["6d514632.20ab78"],["9c18ae19.e92b"],["649b2868.256258"],["c0052d72.64e4b"],["670dfd8.be86084"],["86978151.079f3"],["43183be0.c45ab4"],["4deecb33.bbc59c"],["e276327b.6f831"],["e276327b.6f831"],["7e58c46b.9f190c","fdbda67b.471468"]]},{"id":"9b6c51ce.c19288","type":"comment","z":"64b163ae.fda18c","name":"Wave arm, set LED Color or get the forecast","info":"","x":550,"y":1360,"wires":[]},{"id":"21231d4a.988eba","type":"rpi-neopixels","z":"64b163ae.fda18c","name":"Set LED Color","pixels":"1","bgnd":"","fgnd":"","wipe":"40","mode":"pcent","rgb":"grb","x":1420,"y":1540,"wires":[]},{"id":"6d514632.20ab78","type":"change","z":"64b163ae.fda18c","name":"Red Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1520,"wires":[["b144a5ff.f7bea"]]},{"id":"649b2868.256258","type":"change","z":"64b163ae.fda18c","name":"Green Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1640,"wires":[["b144a5ff.f7bea"]]},{"id":"9c18ae19.e92b","type":"change","z":"64b163ae.fda18c","name":"Blue Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1600,"wires":[["b144a5ff.f7bea"]]},{"id":"87fa0c70.9893b8","type":"change","z":"64b163ae.fda18c","name":"Yellow Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1480,"wires":[["b144a5ff.f7bea"]]},{"id":"c0052d72.64e4b","type":"change","z":"64b163ae.fda18c","name":"Purple Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"238,130,238","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1680,"wires":[["b144a5ff.f7bea"]]},{"id":"7e58c46b.9f190c","type":"change","z":"64b163ae.fda18c","name":"Off - Other","rules":[{"t":"set","p":"payload","pt":"msg","to":"0,0,0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1940,"wires":[["b144a5ff.f7bea"]]},{"id":"670dfd8.be86084","type":"change","z":"64b163ae.fda18c","name":"Pink Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"pink","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1720,"wires":[["b144a5ff.f7bea"]]},{"id":"43183be0.c45ab4","type":"function","z":"64b163ae.fda18c","name":"Alarm","func":"var count = flow.get('count') || 0;\n\nif( count < 20 ) {\n // Generate a random color and set the NeoPixel LED\n msg.payload = '#'+(0x1000000+(Math.random())*0xffffff).toString(16).substr(1,6); \n count += 1;\n flow.set('count',count);\n msg.count = count;\n return [msg,msg];\n} else {\n count = 0;\n flow.set('count',count);\n return [msg,null];\n}\n","outputs":"2","noerr":0,"x":430,"y":1840,"wires":[["b144a5ff.f7bea"],["482d9bd2.5595bc"]]},{"id":"482d9bd2.5595bc","type":"delay","z":"64b163ae.fda18c","name":"","pauseType":"delay","timeout":"0.3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1900,"wires":[["43183be0.c45ab4"]]},{"id":"142846fa.3c0eb9","type":"comment","z":"64b163ae.fda18c","name":"node-red-node-pi-neopixel dependency","info":"This flow requires the\n node-red-node-pi-neopixel\nfor the Raspberry Pi NeoPixel GPIO node.\nYou can either \n $ sudo npm -g install node-red-node-pi-neopixel\n and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1380,"y":1500,"wires":[]},{"id":"f43c75ef.a539","type":"comment","z":"64b163ae.fda18c","name":"Paste API keys for Speech to Text","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Speech to Text service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":1200.0000610351562,"y":1182.8570861816406,"wires":[]},{"id":"5acb218b.a9975","type":"comment","z":"64b163ae.fda18c","name":"node-red-node-watson dependency","info":"This flow requires the\n node-red-node-watson\nfor the following Watson nodes:\n Speech to Text\n\nYou can either \n $ sudo npm -g install node-red-node-watson\n and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1200.0000610351562,"y":1142.8570861816406,"wires":[]},{"id":"6f61a1cc.ac7d9","type":"watson-text-to-speech","z":"64b163ae.fda18c","name":"Speak English","lang":"en-GB","langhidden":"en-GB","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-GB_KateVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"nWzdAlBNkq2V","apikey":"","payload-response":true,"default-endpoint":false,"service-endpoint":"https://stream.watsonplatform.net/text-to-speech/api","x":1420,"y":1700,"wires":[["521fd87a.fbeae"]]},{"id":"6bd31093.f1542","type":"debug","z":"64b163ae.fda18c","name":"","active":true,"console":"false","complete":"payload.forecast","x":700,"y":1940,"wires":[]},{"id":"42d14ed1.108c08","type":"comment","z":"64b163ae.fda18c","name":"Paste API keys for Text to Speech","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Text to Speech service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":1500,"y":1980,"wires":[]},{"id":"13863de4.0d82d2","type":"comment","z":"64b163ae.fda18c","name":"node-red-node-watson dependency","info":"This flow requires the\n node-red-node-watson@0.5.10 or higher\nfor the following Watson nodes:\n Text to Speech\n Speech to Text\n Tone Analyzer\n Visual Recognition\n\nYou can either \n $ sudo npm -g install node-red-node-watson\n and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":1280,"y":1940,"wires":[]},{"id":"486f07c6.1396e","type":"comment","z":"64b163ae.fda18c","name":"Weather Data Service","info":"","x":480,"y":2060,"wires":[]},{"id":"4617cdc7.a69bbc","type":"microPi","z":"64b163ae.fda18c","name":"microPi","filename":"/home/pi/audio/mic.wav","domain":"http://localhost:1880/getAudio","rate":"16000","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"5","debug":"false","mode":"","x":940.0000610351562,"y":1222.8570861816406,"wires":[[],["b3180ce4.0a2dd"],[]]},{"id":"20e1a573.6f378a","type":"inject","z":"64b163ae.fda18c","name":"record","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":1240,"wires":[["1a2ebf53.333781"]]},{"id":"b673b80e.d1e29","type":"inject","z":"64b163ae.fda18c","name":"stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":130,"y":1280,"wires":[["1a2ebf53.333781"]]},{"id":"6e65fea1.880e","type":"change","z":"64b163ae.fda18c","name":"Red","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790.0000610351562,"y":1162.8570861816406,"wires":[["3925b0e3.226fd"]]},{"id":"ad714bda.d471a8","type":"change","z":"64b163ae.fda18c","name":"Black","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790.0000610351562,"y":1282.8570861816406,"wires":[["4d77d407.4b2dfc"]]},{"id":"4d77d407.4b2dfc","type":"link out","z":"64b163ae.fda18c","name":"","links":["941d0606.aa7138"],"x":875.0000610351562,"y":1282.8570861816406,"wires":[]},{"id":"941d0606.aa7138","type":"link in","z":"64b163ae.fda18c","name":"LED-output","links":["4d77d407.4b2dfc","3925b0e3.226fd","b144a5ff.f7bea","d56f3482.92c0b8","537387b4.5196d"],"x":1055,"y":1540,"wires":[["21231d4a.988eba"]]},{"id":"3925b0e3.226fd","type":"link out","z":"64b163ae.fda18c","name":"","links":["941d0606.aa7138"],"x":875.0000610351562,"y":1162.8570861816406,"wires":[]},{"id":"b144a5ff.f7bea","type":"link out","z":"64b163ae.fda18c","name":"","links":["941d0606.aa7138"],"x":635,"y":1680,"wires":[]},{"id":"e845947d.112d8","type":"link in","z":"64b163ae.fda18c","name":"Analyse-input","links":["37c6fdfb.d2cfba","6d9a55e7.498cbc"],"x":55,"y":1700,"wires":[["6899f39f.95979c","df68ac8d.ac1e08"]]},{"id":"37c6fdfb.d2cfba","type":"link out","z":"64b163ae.fda18c","name":"","links":["e845947d.112d8"],"x":1472.1429443359375,"y":1360,"wires":[]},{"id":"925a16e0.eba138","type":"comment","z":"64b163ae.fda18c","name":"Analyse input on keyword identification","info":"","x":170,"y":1400,"wires":[]},{"id":"5d5ba325.a63644","type":"comment","z":"64b163ae.fda18c","name":"Analyse input","info":"","x":1567.1429443359375,"y":1360,"wires":[]},{"id":"25611664.bbaeaa","type":"rbe","z":"64b163ae.fda18c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":250,"y":1180,"wires":[["1a9b72f7.30791d"]]},{"id":"125dc957.bda31f","type":"switch","z":"64b163ae.fda18c","name":"Joystick Down?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640.0000610351562,"y":1222.8570861816406,"wires":[["6e65fea1.880e","7fd3f146.17efd8"],["ad714bda.d471a8","c14eb78c.186f"]]},{"id":"7fd3f146.17efd8","type":"change","z":"64b163ae.fda18c","name":"True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790.0000610351562,"y":1202.8570861816406,"wires":[["4617cdc7.a69bbc"]]},{"id":"c14eb78c.186f","type":"change","z":"64b163ae.fda18c","name":"False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790.0000610351562,"y":1242.8570861816406,"wires":[["4617cdc7.a69bbc"]]},{"id":"1a2ebf53.333781","type":"change","z":"64b163ae.fda18c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"2","fromt":"num","to":"{\"state\":2}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"num","to":"{\"state\":0}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":1260,"wires":[["125dc957.bda31f"]]},{"id":"23587e64.e263a2","type":"ui_text","z":"64b163ae.fda18c","group":"2c97c51d.2a1912","order":1,"width":"11","height":"4","name":"","label":"Microphone input: ","format":"{{msg.payload}}","layout":"row-left","x":1327.1429443359375,"y":1300,"wires":[]},{"id":"8dced7f4.f75bd","type":"comment","z":"64b163ae.fda18c","name":"Controlling the mic","info":"The microphone can be controlled 3 different ways:\n- Hold down the joysick on the senseHAT\n- Slide the Dashboard switch to on\n- Use the record input nodes\n\nWhen the mic is recording the LED shows RED.\n\nThe mic needs to be stopped when finished speaking:\n- Release the joystick on the SenseHAT\n- Slide the Dashboard switch to off\n- Use the stop input node\n\nThe LED will turn off when recording stops","x":110,"y":1140,"wires":[]},{"id":"1a9b72f7.30791d","type":"switch","z":"64b163ae.fda18c","name":"Joystick DOWN event?","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"DOWN","vt":"str"}],"checkall":"true","outputs":1,"x":430,"y":1180,"wires":[["125dc957.bda31f"]]},{"id":"86978151.079f3","type":"change","z":"64b163ae.fda18c","name":"Orange Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"orange","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":1760,"wires":[["b144a5ff.f7bea"]]},{"id":"effb64fe.cc3cf","type":"ui_text","z":"64b163ae.fda18c","group":"2c97c51d.2a1912","order":2,"width":"11","height":"4","name":"","label":"Audio output:","format":"{{msg.payload}}","layout":"row-spread","x":1410,"y":1660,"wires":[]},{"id":"c32fd132.9f80e","type":"link in","z":"64b163ae.fda18c","name":"English Output","links":["77064d13.2a20ac","cf186ae9.2ac7e8","fdbda67b.471468","71940a7.ae57cf4"],"x":1055,"y":1700,"wires":[["6f61a1cc.ac7d9","effb64fe.cc3cf"]]},{"id":"521fd87a.fbeae","type":"speakerpi-output","z":"64b163ae.fda18c","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":1634,"y":1800,"wires":[[]]},{"id":"77064d13.2a20ac","type":"link out","z":"64b163ae.fda18c","name":"","links":["c32fd132.9f80e"],"x":795,"y":1980,"wires":[]},{"id":"5abd5df7.51d69c","type":"comment","z":"64b163ae.fda18c","name":"Pick a #hashtag to follow","info":"","x":170,"y":2180,"wires":[]},{"id":"9d4ce6ad.b541b8","type":"comment","z":"64b163ae.fda18c","name":"Wave arm when there are Joyful tweets","info":"","x":1290,"y":2400,"wires":[]},{"id":"3e5be47b.f01f34","type":"comment","z":"64b163ae.fda18c","name":"Extract highest emotion","info":"","x":720,"y":2440,"wires":[]},{"id":"c907e943.99a01","type":"comment","z":"64b163ae.fda18c","name":"Blink the TJBot LED based on Twitter sentiment and wave his arm on Joyful tweets ","info":"","x":590,"y":2180,"wires":[]},{"id":"c08437e7.4497d","type":"link out","z":"64b163ae.fda18c","name":"","links":["f3f52149.9280f8","c32fd132.9f80e"],"x":515,"y":2340,"wires":[]},{"id":"5a13a844.4fcef8","type":"change","z":"64b163ae.fda18c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2340,"wires":[["305d6c47.3cf524","544f7e64.c8db78","c08437e7.4497d"]]},{"id":"94e4a64f.6fafe8","type":"inject","z":"64b163ae.fda18c","name":"Happy test","topic":"","payload":"every one is awesome","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":2340,"wires":[["5a13a844.4fcef8"]]},{"id":"305d6c47.3cf524","type":"watson-tone-analyzer-v3","z":"64b163ae.fda18c","name":"Analyze Tone","tones":"emotion","sentences":"true","contentType":"false","tone-method":"generalTone","default-endpoint":true,"service-endpoint":"","x":570,"y":2380,"wires":[["609830ff.c1f5d","e8501d2.0518a6","2bdf36f3.6ff59a"]]},{"id":"544f7e64.c8db78","type":"debug","z":"64b163ae.fda18c","name":"","active":false,"console":"false","complete":"false","x":570,"y":2300,"wires":[]},{"id":"8583893d.ef321","type":"inject","z":"64b163ae.fda18c","name":"Sadness test","topic":"","payload":"This is miserable and sad","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":2380,"wires":[["5a13a844.4fcef8"]]},{"id":"fd24330a.c04cd","type":"inject","z":"64b163ae.fda18c","name":"Angry test","topic":"","payload":"I hate boring demos","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":2420,"wires":[["5a13a844.4fcef8"]]},{"id":"d62f8ef2.2aba08","type":"delay","z":"64b163ae.fda18c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":220,"y":2280,"wires":[["5a13a844.4fcef8"]]},{"id":"609830ff.c1f5d","type":"function","z":"64b163ae.fda18c","name":"HighScore","func":"var emotions = [];\nemotions = msg.response.document_tone.tone_categories\n .filter(function(c){\n if (c.category_id == \"emotion_tone\")\n {return c; }\n })[0].tones;\n \n//rename tone_id to topic\nvar myscore = 0; \nvar mynewmsg ={};\n//msg.payload = emotions;\nfor (var i=0; i<emotions.length; i++) {\n\n if(emotions[i].score > myscore)\n {\n msg.payload = emotions[i].score;\n msg.topic = emotions[i].tone_name;\n myscore = emotions[i].score;\n }\n // node.send(msg);\n}\nmynewmsg = msg;\nreturn mynewmsg;","outputs":1,"noerr":0,"x":750,"y":2400,"wires":[["63bcf28f.c10fe4","c2f8e270.14b598"]]},{"id":"e8501d2.0518a6","type":"debug","z":"64b163ae.fda18c","name":"Print msg.response","active":false,"console":"false","complete":"response","x":770,"y":2320,"wires":[]},{"id":"2bdf36f3.6ff59a","type":"change","z":"64b163ae.fda18c","name":"tone_categories","rules":[{"t":"set","p":"payload","pt":"msg","to":"response.document_tone.tone_categories","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":2360,"wires":[["996b88cf.9ccf9"]]},{"id":"1818cf94.d07b7","type":"twitter in","z":"64b163ae.fda18c","twitter":"","tags":"#xxxWatsonIoTHack","user":"false","name":"","inputs":1,"x":110,"y":2220,"wires":[["d62f8ef2.2aba08","8c827f7a.cd93c8"]]},{"id":"63bcf28f.c10fe4","type":"debug","z":"64b163ae.fda18c","name":"Score","active":true,"console":"false","complete":"topic","x":930,"y":2400,"wires":[]},{"id":"c2f8e270.14b598","type":"switch","z":"64b163ae.fda18c","name":"SelectColor","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Joy","vt":"str"},{"t":"eq","v":"Fear","vt":"str"},{"t":"eq","v":"Sadness","vt":"str"},{"t":"eq","v":"Anger","vt":"str"},{"t":"eq","v":"Disgust","vt":"str"},{"t":"else"}],"checkall":"true","outputs":6,"x":950,"y":2520,"wires":[["aac8c0c1.2c0ad","4b53b5ff.ddad44"],["5fc69927.c30ca"],["12e8687c.53999"],["42dbb672.ce8b7"],["7e09e14d.d13f8"],["12e28297.29dded"]]},{"id":"996b88cf.9ccf9","type":"debug","z":"64b163ae.fda18c","name":"Tone categories","active":false,"console":"false","complete":"payload","x":960,"y":2360,"wires":[]},{"id":"8c827f7a.cd93c8","type":"debug","z":"64b163ae.fda18c","name":"","active":true,"console":"false","complete":"payload","x":350,"y":2220,"wires":[]},{"id":"aac8c0c1.2c0ad","type":"change","z":"64b163ae.fda18c","name":"Yellow Color - Joy","rules":[{"t":"set","p":"payload","pt":"msg","to":"yellow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":2440,"wires":[["d56f3482.92c0b8"]]},{"id":"5fc69927.c30ca","type":"change","z":"64b163ae.fda18c","name":"Red Color - Fear","rules":[{"t":"set","p":"payload","pt":"msg","to":"red","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":2480,"wires":[["d56f3482.92c0b8"]]},{"id":"12e8687c.53999","type":"change","z":"64b163ae.fda18c","name":"Blue Color - Sadness","rules":[{"t":"set","p":"payload","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":2520,"wires":[["d56f3482.92c0b8"]]},{"id":"42dbb672.ce8b7","type":"change","z":"64b163ae.fda18c","name":"Green Color - Anger","rules":[{"t":"set","p":"payload","pt":"msg","to":"green","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":2560,"wires":[["d56f3482.92c0b8"]]},{"id":"7e09e14d.d13f8","type":"change","z":"64b163ae.fda18c","name":"Purple Color - Disgust","rules":[{"t":"set","p":"payload","pt":"msg","to":"purple","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":2600,"wires":[["d56f3482.92c0b8"]]},{"id":"12e28297.29dded","type":"change","z":"64b163ae.fda18c","name":"Off - Other","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":2640,"wires":[["d56f3482.92c0b8"]]},{"id":"afbb2ef9.52d65","type":"comment","z":"64b163ae.fda18c","name":"Twitter Analysis","info":"","x":140,"y":2140,"wires":[]},{"id":"d56f3482.92c0b8","type":"link out","z":"64b163ae.fda18c","name":"","links":["941d0606.aa7138"],"x":1395,"y":2600,"wires":[]},{"id":"fc1c951d.db14c8","type":"pi-gpiod out","z":"64b163ae.fda18c","name":"","host":"::1","port":8888,"pin":"7","set":"","level":"0","out":"ser","sermin":"650","sermax":"2350","x":1560,"y":2080,"wires":[]},{"id":"ea5efca9.0047","type":"trigger","z":"64b163ae.fda18c","op1":"95","op2":"5","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":1220,"y":2080,"wires":[["fc1c951d.db14c8"]]},{"id":"9f4b1971.4bef7","type":"link in","z":"64b163ae.fda18c","name":"Wave_arm","links":["4b53b5ff.ddad44","858f8c2a.3fbbc8"],"x":1055,"y":2080,"wires":[["ea5efca9.0047","7971d356.6bea94"]]},{"id":"4b53b5ff.ddad44","type":"link out","z":"64b163ae.fda18c","name":"Wave Arm","links":["9f4b1971.4bef7"],"x":1115,"y":2400,"wires":[]},{"id":"858f8c2a.3fbbc8","type":"link out","z":"64b163ae.fda18c","name":"Wave Arm","links":["9f4b1971.4bef7"],"x":395,"y":1400,"wires":[]},{"id":"3b3e3b7a.1aaebc","type":"comment","z":"64b163ae.fda18c","name":"READ THIS BEFORE RUNNING THE DEMO","info":"Before you can run the demo, you to need to deploy, \nthen import Blumeix service credentials for the \nfollowing services in the appropriate nodes in this flow:\n- Text to Speech\n- Speech to Text\n- Visual Recognition\n- Tone Analysis\n- Conversation\n- Weather\n\nYou can also add a twitter API key and a Weather \nUnderground API key to add twitter and weather components to the demo.\n\nThe Demo also allows use of SenseHAT or DHT11/22 to provide temperature data. \nIf not using a DHT sensor then edit the inject node to prevent it generation \nevents every 5 seconds.","x":190,"y":40,"wires":[]},{"id":"20d871b6.95e706","type":"comment","z":"64b163ae.fda18c","name":"Wave arm","info":"W","x":1100,"y":2040,"wires":[]},{"id":"2447bcdf.99e9e4","type":"comment","z":"64b163ae.fda18c","name":"Speak text and output to dashboard","info":"","x":1180,"y":1620,"wires":[]},{"id":"5e3b4658.b04248","type":"comment","z":"64b163ae.fda18c","name":"Set LED colour","info":"","x":1120,"y":1500,"wires":[]},{"id":"cd313b0c.616788","type":"comment","z":"64b163ae.fda18c","name":"This area of the flow controls some of TobyJnr's outputs","info":"","x":1250,"y":1460,"wires":[]},{"id":"c93d3d6d.deb098","type":"trigger","z":"64b163ae.fda18c","op1":"95","op2":"50","op1type":"str","op2type":"str","duration":"500","extend":false,"units":"ms","reset":"","name":"","x":1400,"y":2120,"wires":[["fc1c951d.db14c8"]]},{"id":"7971d356.6bea94","type":"delay","z":"64b163ae.fda18c","name":"","pauseType":"delay","timeout":"1250","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":2120,"wires":[["c93d3d6d.deb098"]]},{"id":"fdbda67b.471468","type":"link out","z":"64b163ae.fda18c","name":"","links":["c32fd132.9f80e"],"x":295,"y":1900,"wires":[]},{"id":"dbb2b329.464378","type":"inject","z":"64b163ae.fda18c","name":"","topic":"Weather","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":1980,"wires":[["4deecb33.bbc59c"]]},{"id":"1bc45bef.8ffdec","type":"link out","z":"64b163ae.fda18c","name":"","links":["16f06e90.d7ddf1"],"x":655,"y":180,"wires":[]},{"id":"bef4f53e.c3e46","type":"change","z":"64b163ae.fda18c","name":"Set temp variables","rules":[{"t":"set","p":"tempC","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"tempF","pt":"flow","to":"$number(msg.payload) * 9/5 + 32","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":2780,"wires":[["ac73b354.7962b8"]]},{"id":"50ea3ab9.56501c","type":"comment","z":"64b163ae.fda18c","name":"Store current temperature in flow context","info":"","x":180,"y":2740,"wires":[]},{"id":"72f0cf2d.c9bb","type":"watson-conversation-v1","z":"64b163ae.fda18c","name":"Conversation","workspaceid":"ca1fc3cc-c241-40ea-adfb-a07bd98a0ed8","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"","timeout":"","optout-learning":false,"x":370,"y":2980,"wires":[["8769be79.93766","8aa0d95a.5aa5b"]]},{"id":"8769be79.93766","type":"switch","z":"64b163ae.fda18c","name":"Conversation Actions","property":"payload.output.action","propertyType":"msg","rules":[{"t":"eq","v":"CurrentTempCentigrade","vt":"str"},{"t":"eq","v":"CurrentTempFahrenheit","vt":"str"},{"t":"eq","v":"CurrentWeather","vt":"str"},{"t":"eq","v":"changeColour","vt":"str"},{"t":"eq","v":"quit","vt":"str"},{"t":"else"}],"checkall":"false","outputs":6,"x":640,"y":2980,"wires":[["a358936c.6d95"],["1903cb90.5a0bf4"],["7fa90d84.6caa54"],["c2b3ab9.86dfad8","3911052c.afef2a"],["2cea7b48.52935c"],["6f36caa1.0d03bc"]]},{"id":"7e44736c.a8cf3c","type":"inject","z":"64b163ae.fda18c","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":3020,"wires":[["72f0cf2d.c9bb"]]},{"id":"b5824902.5b30e","type":"inject","z":"64b163ae.fda18c","name":"","topic":"","payload":"Is it sunny outside","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":3100,"wires":[["72f0cf2d.c9bb"]]},{"id":"ebd18832.0b5f68","type":"inject","z":"64b163ae.fda18c","name":"","topic":"","payload":"bye","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":3060,"wires":[["72f0cf2d.c9bb"]]},{"id":"b7d36657.1715b8","type":"inject","z":"64b163ae.fda18c","name":"","topic":"","payload":"set colour to green","payloadType":"str","repeat":"","crontab":"","once":false,"x":150,"y":3140,"wires":[["72f0cf2d.c9bb"]]},{"id":"a358936c.6d95","type":"template","z":"64b163ae.fda18c","name":"Centigrade","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}} {{flow.tempC}}, {{payload.output.text.1}}","output":"str","x":890,"y":2880,"wires":[["71940a7.ae57cf4"]]},{"id":"1634440a.6a65d4","type":"inject","z":"64b163ae.fda18c","name":"","topic":"","payload":"What's the temp in C","payloadType":"str","repeat":"","crontab":"","once":false,"x":160,"y":3180,"wires":[["72f0cf2d.c9bb"]]},{"id":"2cea7b48.52935c","type":"change","z":"64b163ae.fda18c","name":"End conversation","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"inConversation","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3080,"wires":[["71940a7.ae57cf4","5ac62513.e7b084","b172ef4c.36e048"]]},{"id":"1903cb90.5a0bf4","type":"template","z":"64b163ae.fda18c","name":"Fahrenheit","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}} {{flow.tempF}}, {{payload.output.text.1}}","output":"str","x":890,"y":2920,"wires":[["71940a7.ae57cf4"]]},{"id":"c2b3ab9.86dfad8","type":"template","z":"64b163ae.fda18c","name":"Colour","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload.output.text.0}}, {{payload.output.text.1}}","output":"str","x":870,"y":3000,"wires":[["71940a7.ae57cf4"]]},{"id":"3911052c.afef2a","type":"change","z":"64b163ae.fda18c","name":"output colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.entities[0].value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":3040,"wires":[["537387b4.5196d"]]},{"id":"7fa90d84.6caa54","type":"change","z":"64b163ae.fda18c","name":"convData","rules":[{"t":"set","p":"convData","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2960,"wires":[["68969768.4fb2a"]]},{"id":"ad3f92c0.b9b798","type":"comment","z":"64b163ae.fda18c","name":"Have a conversation with Toby","info":"","x":150,"y":2880,"wires":[]},{"id":"c5bb84b.8d46a78","type":"inject","z":"64b163ae.fda18c","name":"Temp F","topic":"","payload":"What's the temp in Fahrenheit","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":3220,"wires":[["72f0cf2d.c9bb"]]},{"id":"ffb8e03b.4f2e9","type":"switch","z":"64b163ae.fda18c","name":"Using Conversation?","property":"inConversation","propertyType":"flow","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":1337.1429443359375,"y":1340,"wires":[["b22bf12a.a04b38"],["37c6fdfb.d2cfba"]]},{"id":"16f06e90.d7ddf1","type":"link in","z":"64b163ae.fda18c","name":"Start conversation","links":["1bc45bef.8ffdec"],"x":995,"y":3220,"wires":[["3bd30e8.19bfe72"]]},{"id":"3bd30e8.19bfe72","type":"change","z":"64b163ae.fda18c","name":"","rules":[{"t":"set","p":"inConversation","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":3220,"wires":[["81ae43de.34de3","40e3f253.fd385c"]]},{"id":"b22bf12a.a04b38","type":"link out","z":"64b163ae.fda18c","name":"","links":["db04154f.6e3168"],"x":1472.1429443359375,"y":1320,"wires":[]},{"id":"e1162034.948e8","type":"comment","z":"64b163ae.fda18c","name":"to conversation","info":"","x":1577.1429443359375,"y":1320,"wires":[]},{"id":"db04154f.6e3168","type":"link in","z":"64b163ae.fda18c","name":"conversation","links":["b22bf12a.a04b38"],"x":235,"y":2980,"wires":[["72f0cf2d.c9bb"]]},{"id":"df68ac8d.ac1e08","type":"debug","z":"64b163ae.fda18c","name":"","active":false,"console":"false","complete":"false","x":190,"y":1840,"wires":[]},{"id":"6f36caa1.0d03bc","type":"change","z":"64b163ae.fda18c","name":"speak text","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.output.text[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":3120,"wires":[["71940a7.ae57cf4"]]},{"id":"537387b4.5196d","type":"link out","z":"64b163ae.fda18c","name":"to LED-output","links":["941d0606.aa7138"],"x":1475,"y":3040,"wires":[]},{"id":"b59336e4.09ed5","type":"comment","z":"64b163ae.fda18c","name":"set LED","info":"","x":1550,"y":3040,"wires":[]},{"id":"71940a7.ae57cf4","type":"link out","z":"64b163ae.fda18c","name":"","links":["c32fd132.9f80e"],"x":1715,"y":3000,"wires":[]},{"id":"cd046797.26339","type":"comment","z":"64b163ae.fda18c","name":"Speak output","info":"","x":1774.1666526794434,"y":2085.0000443458557,"wires":[]},{"id":"5ac62513.e7b084","type":"change","z":"64b163ae.fda18c","name":"Clear LED panel","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":3120,"wires":[[]]},{"id":"81ae43de.34de3","type":"change","z":"64b163ae.fda18c","name":"conversation icon","rules":[{"t":"set","p":"payload","pt":"msg","to":"*,*,black,3-5,0,silver,2,1,silver,4,1,silver,1,2,silver,3,2,silver,0,3-4,silver,2,3-4,silver,1,5,silver,3,5,silver,2,6,silver,4,6,silver,3-5,7,silver","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":3240,"wires":[[]]},{"id":"8af77f99.4ab148","type":"comment","z":"64b163ae.fda18c","name":"Start the conversation","info":"","x":1080,"y":3180,"wires":[]},{"id":"5d37fd42.bfcb9c","type":"comment","z":"64b163ae.fda18c","name":"Paste API keys for Tone Analyzer","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Tone Analyzer service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":450,"y":2460,"wires":[]},{"id":"91b97608.ad899","type":"comment","z":"64b163ae.fda18c","name":"node-red-node-watson dependency","info":"This flow requires the\n node-red-node-watson\nfor the following Watson nodes:\n Speech to Text\n\nYou can either \n $ sudo npm -g install node-red-node-watson\n and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":460,"y":2420,"wires":[]},{"id":"d001693b.40b538","type":"comment","z":"64b163ae.fda18c","name":"Paste API keys for Conversation","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Conversation service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":430,"y":3080,"wires":[]},{"id":"3af88216.998c36","type":"comment","z":"64b163ae.fda18c","name":"node-red-node-watson dependency","info":"This flow requires the\n node-red-node-watson\nfor the following Watson nodes:\n Speech to Text\n\nYou can either \n $ sudo npm -g install node-red-node-watson\n and restart the Node-RED service\nor install it from Node-RED Manage Palette.","x":440,"y":3040,"wires":[]},{"id":"57b1f801.67111","type":"comment","z":"64b163ae.fda18c","name":"to Set LED colour","info":"","x":1500,"y":2600,"wires":[]},{"id":"605901cf.5d712","type":"comment","z":"64b163ae.fda18c","name":"Wave Arm","info":"","x":480,"y":1400,"wires":[]},{"id":"a3eaaff.f84b0d","type":"comment","z":"64b163ae.fda18c","name":"Speak output","info":"","x":750,"y":2020,"wires":[]},{"id":"f35887f.d694e78","type":"comment","z":"64b163ae.fda18c","name":"set LED colour","info":"","x":740,"y":1680,"wires":[]},{"id":"84fb46f0.1eb47","type":"comment","z":"64b163ae.fda18c","name":"set LED colour","info":"","x":980.0000610351562,"y":1282.8570861816406,"wires":[]},{"id":"36d85d7f.54803a","type":"comment","z":"64b163ae.fda18c","name":"set LED colour","info":"","x":980.0000610351562,"y":1162.8570861816406,"wires":[]},{"id":"29659760.14b2d","type":"comment","z":"64b163ae.fda18c","name":"People in photo","info":"","x":760,"y":60,"wires":[]},{"id":"b611da4f.aeba78","type":"comment","z":"64b163ae.fda18c","name":"Summarise photo","info":"","x":770,"y":100,"wires":[]},{"id":"f8c9e13c.0a2288","type":"comment","z":"64b163ae.fda18c","name":"Start conversation when joystick pressed in","info":"","x":849,"y":180,"wires":[]},{"id":"308f7171.16254e","type":"comment","z":"64b163ae.fda18c","name":"Handle joystick","info":"","x":101,"y":86,"wires":[]},{"id":"6503f547.0b7204","type":"change","z":"64b163ae.fda18c","name":"Set file details","rules":[{"t":"set","p":"filemode","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"filename","pt":"msg","to":"photo.jpg","tot":"str"},{"t":"set","p":"filepath","pt":"msg","to":"/tmp","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":600,"wires":[["3ba5d218.7e0fee"]]},{"id":"ac57f378.b8dca","type":"link in","z":"64b163ae.fda18c","name":"Countdown to take photo","links":["2b4245f5.121a4a"],"x":355,"y":260,"wires":[["25275449.3fcb7c","9e8f9d0.d0803e"]]},{"id":"2b4245f5.121a4a","type":"link out","z":"64b163ae.fda18c","name":"","links":["ac57f378.b8dca"],"x":655,"y":140,"wires":[]},{"id":"3a68ed9f.fc0eaa","type":"comment","z":"64b163ae.fda18c","name":"Countdown then take photo","info":"","x":800,"y":140,"wires":[]},{"id":"91a79f6.b40606","type":"comment","z":"64b163ae.fda18c","name":"Take photo","info":"","x":1060,"y":480,"wires":[]},{"id":"de26a92d.1a3f2","type":"ui_text_input","z":"64b163ae.fda18c","name":"","label":"Text input","tooltip":"","group":"5b78f79c.3bb6a","order":3,"width":"7","height":"1","passthru":false,"mode":"text","delay":"0","topic":"","x":1137.1429443359375,"y":1340,"wires":[["ffb8e03b.4f2e9"]]},{"id":"e276327b.6f831","type":"change","z":"64b163ae.fda18c","name":"Black Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"black","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1800,"wires":[["b144a5ff.f7bea"]]},{"id":"ac73b354.7962b8","type":"ui_gauge","z":"64b163ae.fda18c","name":"Temperature Guage","group":"5b78f79c.3bb6a","order":7,"width":"9","height":"6","gtype":"gage","title":"Current Temperature","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"35","x":490,"y":2780,"wires":[]},{"id":"8aa0d95a.5aa5b","type":"debug","z":"64b163ae.fda18c","name":"","active":true,"console":"false","complete":"false","x":640,"y":2900,"wires":[]},{"id":"4deecb33.bbc59c","type":"change","z":"64b163ae.fda18c","name":"Barcelona","rules":[{"t":"set","p":"lat","pt":"msg","to":"41.382","tot":"str"},{"t":"set","p":"lon","pt":"msg","to":"2.177","tot":"str"},{"t":"set","p":"lang","pt":"msg","to":"en-US","tot":"str"},{"t":"set","p":"units","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":1980,"wires":[["b2d827c0.9ae268"]]},{"id":"b2d827c0.9ae268","type":"http request","z":"64b163ae.fda18c","name":"Get Current Weather","method":"GET","ret":"obj","url":"https://twcservice.eu-gb.mybluemix.net/api/weather/v1/geocode/{{{lat}}}/{{{lon}}}/observations.json?language={{{lang}}}&units={{{units}}}","tls":"","x":480,"y":1980,"wires":[["89766819.79b89","6bd31093.f1542"]]},{"id":"89766819.79b89","type":"change","z":"64b163ae.fda18c","name":"Format forcast","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.observation.(\t\"The current weather at \" & $split(obs_name, '/', 1)[0] & \" is \" & wx_phrase & \t\" with a temperature of \" & temp & \" Celsius. \" & \t(wdir_cardinal = \"CALM\" ? \"It is a calm day.\" : \"The wind is from \" & \t$lookup({\"N\" : \"the North\", \t \"NNE\" : \"North, North East\",\t \"NE\" : \"the North East\",\t \"ENE\" : \"East, North East\",\t \"E\" : \"the East\",\t \"ESE\" : \"East, South East\",\t \"SE\" : \"the South East\",\t \"SSE\" : \"South, South East\",\t \"S\" : \"the South\",\t \"SSW\" : \"South, South West\",\t \"SW\" : \"the South West\",\t \"WSW\" : \"West, South West\",\t \"W\" : \"the West\",\t \"WNW\" : \"West, North West\",\t \"NW\" : \"the North West\",\t \"NNW\" : \"North, North West\"\t }, wdir_cardinal) & \" at \" & wspd & \" km/h.\") & \t(clds in [\"SKC\", \"CLR\", \"SCT\", \"FEW\", \"BKN\", \"OVC\"] ? \t$lookup({\"SKC\" : \" The sky is clear.\", \t \"CLR\" : \" The sky is clear.\", \t \"SCT\" : \" There are scattered clouds.\", \t \"FEW\" : \" There are a few clouds in the sky.\", \t \"BKN\" : \" There are broken clouds.\", \t \"OVC\" : \" Is is overcast.\"} , clds) : \"\")\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1980,"wires":[["77064d13.2a20ac"]]},{"id":"f8f50053.b57358","type":"change","z":"64b163ae.fda18c","name":"Format forcast","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.observation.(\twx_phrase & \t\" with a temperature of \" & temp & \" Celsius. \" & \t(wdir_cardinal = \"CALM\" ? \"It is a calm day.\" : \"The wind is from \" & \t$lookup({\"N\" : \"the North\", \t \"NNE\" : \"North, North East\",\t \"NE\" : \"the North East\",\t \"ENE\" : \"East, North East\",\t \"E\" : \"the East\",\t \"ESE\" : \"East, South East\",\t \"SE\" : \"the South East\",\t \"SSE\" : \"South, South East\",\t \"S\" : \"the South\",\t \"SSW\" : \"South, South West\",\t \"SW\" : \"the South West\",\t \"WSW\" : \"West, South West\",\t \"W\" : \"the West\",\t \"WNW\" : \"West, North West\",\t \"NW\" : \"the North West\",\t \"NNW\" : \"North, North West\"\t }, wdir_cardinal) & \" at \" & wspd & \" km/h.\") & \t(clds in [\"SKC\", \"CLR\", \"SCT\", \"FEW\", \"BKN\", \"OVC\"] ? \t$lookup({\"SKC\" : \" The sky is clear.\", \t \"CLR\" : \" The sky is clear.\", \t \"SCT\" : \" There are scattered clouds.\", \t \"FEW\" : \" There are a few clouds in the sky.\", \t \"BKN\" : \" There are broken clouds.\", \t \"OVC\" : \" Is is overcast.\"} , clds) : \"\")\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":2960,"wires":[["e6de6265.f0a8a"]]},{"id":"76247438.6fa10c","type":"http request","z":"64b163ae.fda18c","name":"Get Current Weather","method":"GET","ret":"obj","paytoqs":false,"url":"https://twcservice.eu-gb.mybluemix.net/api/weather/v1/geocode/{{{lat}}}/{{{lon}}}/observations.json?language={{{lang}}}&units={{{units}}}","tls":"","proxy":"","x":1200,"y":2960,"wires":[["f8f50053.b57358"]]},{"id":"68969768.4fb2a","type":"change","z":"64b163ae.fda18c","name":"Barcelona","rules":[{"t":"set","p":"lat","pt":"msg","to":"41.382","tot":"str"},{"t":"set","p":"lon","pt":"msg","to":"2.177","tot":"str"},{"t":"set","p":"lang","pt":"msg","to":"en-US","tot":"str"},{"t":"set","p":"units","pt":"msg","to":"m","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":2960,"wires":[["76247438.6fa10c"]]},{"id":"e6de6265.f0a8a","type":"template","z":"64b163ae.fda18c","name":"format forecast","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{convData.output.text.0}} {{payload}}, {{convData.output.text.1}}","output":"str","x":1600,"y":2960,"wires":[["71940a7.ae57cf4"]]},{"id":"8ae4e671.de254","type":"comment","z":"64b163ae.fda18c","name":"Add basic auth for weather service","info":"Add the credentials for your Weather Data service in to the basic auth settings of the http request node","x":1240,"y":2920,"wires":[]},{"id":"d5332709.92bf6","type":"comment","z":"64b163ae.fda18c","name":"Add basic auth for weather service","info":"Add the credentials for your Weather Data service in to the basic auth settings of the http request node","x":480,"y":2020,"wires":[]},{"id":"e28b257a.3ed188","type":"watson-translator","z":"64b163ae.fda18c","name":"en-es","action":"translate","basemodel":"es-en","domain":"conversational","srclang":"en","destlang":"es","password":"ppvbBSSQ3qte","custom":"","domainhidden":"conversational","srclanghidden":"","destlanghidden":"","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1150,"y":1740,"wires":[["8ba911c4.949f18","effb64fe.cc3cf"]]},{"id":"7f3d2b6a.81b4bc","type":"watson-translator","z":"64b163ae.fda18c","name":"en-fr","action":"translate","basemodel":"es-en","domain":"news","srclang":"en","destlang":"fr","password":"ppvbBSSQ3qte","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"fr","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1150,"y":1780,"wires":[["f3c64a7f.84702","effb64fe.cc3cf"]]},{"id":"dd998515.303c","type":"watson-translator","z":"64b163ae.fda18c","name":"en-pt","action":"translate","basemodel":"es-en","domain":"news","srclang":"en","destlang":"pt","password":"ppvbBSSQ3qte","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"pt","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1150,"y":1860,"wires":[["2e4fb8e0.7ff86","effb64fe.cc3cf"]]},{"id":"2ac35589.da6d62","type":"watson-translator","z":"64b163ae.fda18c","name":"en-it","action":"translate","basemodel":"es-en","domain":"news","srclang":"en","destlang":"it","password":"ppvbBSSQ3qte","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"it","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":true,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1150,"y":1900,"wires":[["592dcdd3.1bc4f4","effb64fe.cc3cf"]]},{"id":"f3c64a7f.84702","type":"watson-text-to-speech","z":"64b163ae.fda18c","name":"Speak French","lang":"fr-FR","langhidden":"fr-FR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"fr-FR_ReneeVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"X0hRMcBHpPfc","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":1420,"y":1780,"wires":[["521fd87a.fbeae"]]},{"id":"8ba911c4.949f18","type":"watson-text-to-speech","z":"64b163ae.fda18c","name":"Speak Spanish","lang":"es-LA","langhidden":"es-LA","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-LA_SofiaVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"X0hRMcBHpPfc","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":1420,"y":1740,"wires":[["521fd87a.fbeae"]]},{"id":"592dcdd3.1bc4f4","type":"watson-text-to-speech","z":"64b163ae.fda18c","name":"Speak Italian","lang":"it-IT","langhidden":"it-IT","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"it-IT_FrancescaVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"X0hRMcBHpPfc","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":1410,"y":1900,"wires":[["521fd87a.fbeae"]]},{"id":"2e4fb8e0.7ff86","type":"watson-text-to-speech","z":"64b163ae.fda18c","name":"Speak Portuguese","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"X0hRMcBHpPfc","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":1430,"y":1860,"wires":[["521fd87a.fbeae"]]},{"id":"6ef9654e.001544","type":"comment","z":"64b163ae.fda18c","name":"Paste API keys for Translation service","info":"1. Log into Bluemix\n2. Create an instance of the \nWatson Translation service.\n3. Visit the Service Credentials tab\n4. Click on View Credentials\n5. Copy/Paste the password and username into\nthis Node-RED node.","x":1190,"y":1980,"wires":[]},{"id":"b1cd538f.7f69b","type":"rpi-dht22","z":"64b163ae.fda18c","name":"","topic":"rpi-dht22","dht":"22","pintype":1,"pin":"15","x":220,"y":2620,"wires":[["bef4f53e.c3e46"]]},{"id":"fdcb6be9.0792a","type":"inject","z":"64b163ae.fda18c","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":true,"x":90,"y":2620,"wires":[["b1cd538f.7f69b"]]},{"id":"54975f8e.a63d58","type":"change","z":"64b163ae.fda18c","name":"Grey Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"55,55,55","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1560,"wires":[["b144a5ff.f7bea"]]},{"id":"490d6d83.a74f5c","type":"change","z":"64b163ae.fda18c","name":"White Colour","rules":[{"t":"set","p":"payload","pt":"msg","to":"255,255,255","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1440,"wires":[["b144a5ff.f7bea"]]},{"id":"3e5f4da0.f4fb82","type":"ui_text","z":"64b163ae.fda18c","group":"5b78f79c.3bb6a","order":1,"width":"8","height":"1","name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-left","x":1530,"y":3180,"wires":[]},{"id":"b172ef4c.36e048","type":"change","z":"64b163ae.fda18c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Word","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":3160,"wires":[["3e5f4da0.f4fb82"]]},{"id":"40e3f253.fd385c","type":"change","z":"64b163ae.fda18c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Conversation","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":3200,"wires":[["3e5f4da0.f4fb82"]]},{"id":"107d6a2.aa44396","type":"visual-recognition-v3","z":"64b163ae.fda18c","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"en","x":650.0000610351562,"y":922.8570861816406,"wires":[["e8ad129b.6b07f"]]},{"id":"c75054b.eacd7a8","type":"file in","z":"64b163ae.fda18c","name":"photo.jpg","filename":"/tmp/photo.jpg","format":"","x":480,"y":920,"wires":[["107d6a2.aa44396"]]},{"id":"db5dba7f.6471d","type":"change","z":"64b163ae.fda18c","name":"Format result","rules":[{"t":"set","p":"template","pt":"msg","to":"result.images.(\t \"<style>h4 { text-align: center; margin: 10px; }table { width: 100%; margin-top: 10px; }th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; background-color: #FFFFFF; width: 50%;}.classifier {background-color: rgb(85,150,230);text-align: center;}.title { background-color:LightGrey;}</style>\" & \t($exists(faces) \t? (\"<h3>People found in the photo</h3>\" & \"<table span=100%><tr><th>Gender</th><th>Age</th></tr>\" & \t $join(faces.(\"<tr>\" & \"<td>\" & $lowercase(gender.gender) & \" (\" & $round(gender.score * 100) & \"%)</td><td>\" & age.min & \" - \" & age.max & \" (\" & $round(age.score* 100) & \"%)</td></tr>\")) & \"</table>\") \t: \"<h3>No people found</h3>\") \t)","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"\"Test\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":880,"wires":[["8a52c29e.acb028","bcfee6c1.6c5978"]]},{"id":"71bd1e81.a2456","type":"change","z":"64b163ae.fda18c","name":"3","rules":[{"t":"set","p":"template","pt":"msg","to":"<p style=\"font-size:200px; text-align:center;\">3</p>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":320,"wires":[["b0d033ed.a6b408"]]},{"id":"546b6ec2.1869c8","type":"change","z":"64b163ae.fda18c","name":"2","rules":[{"t":"set","p":"template","pt":"msg","to":"<p style=\"font-size:200px; text-align:center;\">2</p>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":360,"wires":[["b0d033ed.a6b408"]]},{"id":"a3718732.1e9678","type":"change","z":"64b163ae.fda18c","name":"1","rules":[{"t":"set","p":"template","pt":"msg","to":"<p style=\"font-size:200px; text-align:center;\">1</p>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":970,"y":400,"wires":[["b0d033ed.a6b408"]]},{"id":"b0d033ed.a6b408","type":"link out","z":"64b163ae.fda18c","name":"e19a96fd-8a16-4d2a-94a5-ec9056fd921e","links":["ab26d8b.6b2eda8"],"x":1015,"y":340,"wires":[]},{"id":"92ef76f2.fde0e","type":"comment","z":"64b163ae.fda18c","name":"Update dashboard","info":"","x":1130,"y":340,"wires":[]},{"id":"ab26d8b.6b2eda8","type":"link in","z":"64b163ae.fda18c","name":"dashboard photo","links":["b0d033ed.a6b408"],"x":1055,"y":620,"wires":[["910f7971.16e978"]]},{"id":"30d318ba.d8046","type":"change","z":"64b163ae.fda18c","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"<div ng-bind-html></div> <img width=\"300\" height=\"300\" alt=\"Watson Image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":660,"wires":[["910f7971.16e978"]]},{"id":"e3bd4b39.b0549","type":"change","z":"64b163ae.fda18c","name":"blank","rules":[{"t":"set","p":"template","pt":"msg","to":"<p style=\"font-size:300px\"> </p>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":440,"wires":[["b0d033ed.a6b408"]]},{"id":"112c76ac.7ad8e9","type":"comment","z":"64b163ae.fda18c","name":"Update senseHAT","info":"","x":1250,"y":280,"wires":[]},{"id":"d01ce52f.d4da6","type":"comment","z":"64b163ae.fda18c","name":"If no DHT sensor connected stop inject node","info":"","x":190,"y":2580,"wires":[]},{"id":"9e8f9d0.d0803e","type":"change","z":"64b163ae.fda18c","name":"blank","rules":[{"t":"set","p":"template","pt":"msg","to":"<p style=\"font-size:300px\"> </p>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":652,"y":231,"wires":[["b0d033ed.a6b408"]]},{"id":"c1f119de.a91d68","type":"watson-translator","z":"64b163ae.fda18c","name":"en-de","action":"translate","basemodel":"es-en","domain":"news","srclang":"en","destlang":"de","password":"ppvbBSSQ3qte","custom":"","domainhidden":"news","srclanghidden":"en","destlanghidden":"de","basemodelhidden":"es-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"neural":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/language-translator/api","x":1150,"y":1820,"wires":[["a0e1cb7e.5d02f8","effb64fe.cc3cf"]]},{"id":"a0e1cb7e.5d02f8","type":"watson-text-to-speech","z":"64b163ae.fda18c","name":"Speak German","lang":"de-DE","langhidden":"de-DE","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"de-DE_BirgitVoice","voicehidden":"en-US_AllisonVoice","format":"audio/wav","password":"X0hRMcBHpPfc","payload-response":true,"default-endpoint":true,"service-endpoint":"","x":1420,"y":1820,"wires":[["521fd87a.fbeae"]]},{"id":"b3d22e53.ec05b","type":"comment","z":"64b163ae.fda18c","name":"Set location for weather","info":"Add the credentials for your Weather Data service in to the basic auth settings of the http request node","x":1060,"y":3000,"wires":[]},{"id":"b5d7b78b.440248","type":"comment","z":"64b163ae.fda18c","name":"Set location for weather","info":"Add the credentials for your Weather Data service in to the basic auth settings of the http request node","x":240,"y":1940,"wires":[]},{"id":"ec2dee01.c4c09","type":"comment","z":"64b163ae.fda18c","name":"rewire through translation?","info":"If you want output in a different language\nrewire the output through one of the translation nodes","x":1150,"y":1660,"wires":[]},{"id":"db021517.55b2d8","type":"function","z":"64b163ae.fda18c","name":"start interval","func":"let interval = setInterval(() => {\n    global.set(\"interval\", interval);\n    node.send({payload: \"true\"})\n}, 480000)\n\n\n\n","outputs":1,"noerr":0,"x":1893,"y":1665,"wires":[["840b8e1a.a09e8","6c04a47e.e7a23c"]]},{"id":"840b8e1a.a09e8","type":"switch","z":"64b163ae.fda18c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2040,"y":1721,"wires":[["4981602d.c827a"]]},{"id":"4981602d.c827a","type":"file in","z":"64b163ae.fda18c","name":"","filename":"/usr/lib/libreoffice/share/gallery/sounds/cow.wav","format":"","x":1999,"y":1779,"wires":[["c4e5b44c.bd1e78"]]},{"id":"798cdd68.931e34","type":"function","z":"64b163ae.fda18c","name":"stop interval","func":"let interval = global.get(\"interval\") || 0;\n\nif(interval) {\n    clearInterval(interval);\n    msg.payload = \"Interval deactivated...\"\n} \nelse {\n    msg.payload = \"No interval found...\"\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1592,"y":1572,"wires":[["7b282896.cff368","f6f5c4e6.048468"]]},{"id":"7b282896.cff368","type":"debug","z":"64b163ae.fda18c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1689,"y":1612,"wires":[]},{"id":"325cda2.b105026","type":"speakerpi-output","z":"64b163ae.fda18c","choose":"filebased","filename":"","channels":"1","bitdepth":"8","samplerate":"11025","name":"","x":2419,"y":1784,"wires":[[]]},{"id":"c4e5b44c.bd1e78","type":"change","z":"64b163ae.fda18c","name":"","rules":[{"t":"set","p":"speech","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"filename","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2246,"y":1721,"wires":[["325cda2.b105026"]]},{"id":"6c04a47e.e7a23c","type":"exec","z":"64b163ae.fda18c","command":"amixer sset 'Hama Aquajam - A2DP' 1%","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"decrease audio volume","x":2087,"y":1659.5,"wires":[[],[],[]]},{"id":"f6f5c4e6.048468","type":"exec","z":"64b163ae.fda18c","command":"amixer sset 'Hama Aquajam - A2DP' 90%","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"increase audio volume","x":1688,"y":1668,"wires":[[],[],[]]},{"id":"d3ae5929.819518","type":"exec","z":"64b163ae.fda18c","command":"raspistill -n -vf -hf -o /tmp/photo.jpg -w 640 -h 480 -t 1000","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Take a picture","x":338.66666412353516,"y":424.1666316986084,"wires":[[],[],[]]},{"id":"910f7971.16e978","type":"ui_template","z":"64b163ae.fda18c","group":"a73c1172.0d7d5","name":"Photo","order":2,"width":"10","height":"8","format":"<div ng-bind-html></div>\n<img alt=\"Watson Image\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1167,"y":654,"wires":[[]]},{"id":"43fd1e82.c1c34","type":"file in","z":"64b163ae.fda18c","name":"","filename":"/tmp/photo.jpg","format":"","chunk":false,"sendError":false,"encoding":"none","x":835,"y":525.7777709960938,"wires":[["c8513f1c.82c0e"]]},{"id":"e9ac2984.8ce898","type":"ui_template","z":"64b163ae.fda18c","group":"2c97c51d.2a1912","name":"Press to speak","order":3,"width":"0","height":"0","format":"<div class=\"speak-wrapper\">\n   <md-button class=\"speak-button\">\n       Press to speak\n       <i class=\"fa fa-microphone icon\"></i>\n    </md-button>\n</div>\n\n<style>\n   .speak-wrapper { \n       width: 100%;\n       height: 100%;\n       text-align: center;\n       margin-bottom: 20px;\n    }\n    .speak-button {\n        width: 80%;\n        height: 70%;\n        margin: 0 auto;\n        background-color:red;\n    }\n    .icon {\n        font-size: 20px;\n        margin-left: 10px;\n    }\n    \n</style>\n\n\n<script>\n\n(function($scope) {\n    \n$('.speak-wrapper').on('touchstart mousedown', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 2});\n});\n\n$('.speak-wrapper').on('touchend mouseup', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 0});\n});\n    \n})(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":416.1428527832031,"y":1098.142822265625,"wires":[["125dc957.bda31f","d9608cc9.4eb99"]]},{"id":"d9608cc9.4eb99","type":"debug","z":"64b163ae.fda18c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":616.4285496303013,"y":1119.7142900739395,"wires":[]},{"id":"bcfee6c1.6c5978","type":"ui_template","z":"64b163ae.fda18c","group":"18701689.f5f021","name":"","order":5,"width":"8","height":"11","format":"<div ng-bind-html=\"msg.template\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1071,"y":856,"wires":[[]]},{"id":"bd744c0b.88d9c","type":"ui_template","z":"64b163ae.fda18c","group":"5b78f79c.3bb6a","name":"Start a conversation","order":6,"width":"0","height":"0","format":"<div class=\"conversation-wrapper\">\n   <md-button class=\"conversation-button\">\n       Start conversation\n       <i class=\"fa fa-comment icon\"></i>\n    </md-button>\n</div>\n\n<style>\n   .conversation-wrapper { \n       width: 100%;\n       height: 100%;\n       text-align: center;\n       margin-top: 25px;\n    }\n    .conversation-button {\n        width: 80%;\n        height: 70%;\n        margin: 0 auto;\n        background-color:red;\n    }\n</style>\n\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":3294,"wires":[["3bd30e8.19bfe72"]]},{"id":"3c02ff98.d775a8","type":"debug","z":"64b163ae.fda18c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":374.49998474121094,"y":362.99998474121094,"wires":[]},{"id":"3ba5d218.7e0fee","type":"exec","z":"64b163ae.fda18c","command":"fswebcam -r  640x480 --no-banner /tmp/photo.jpg ","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Take a picture","x":481,"y":573.9999694824219,"wires":[["43fd1e82.c1c34"],["330a3411.d3cdec"],[]]},{"id":"523cc61.1f15e38","type":"comment","z":"64b163ae.fda18c","name":"Only needed for bluetooth speaker \"aquajam\"","info":"","x":2007.9000244140625,"y":1602.5999755859375,"wires":[]},{"id":"a9210a35.422288","type":"comment","z":"64b163ae.fda18c","name":"Only needed for bluetooth speaker \"aquajam\"","info":"","x":1761.4000244140625,"y":1522.4000244140625,"wires":[]},{"id":"49709000.1d133","type":"inject","z":"64b163ae.fda18c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1057.89990234375,"y":526,"wires":[["a415aeae.d190d"]]},{"id":"a415aeae.d190d","type":"file in","z":"64b163ae.fda18c","name":"","filename":"/tmp/initial_call_for_code.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":1251,"y":545.2000122070312,"wires":[["c8513f1c.82c0e"]]},{"id":"766c4a7b.3c8244","type":"change","z":"64b163ae.fda18c","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"<div ng-bind-html></div> <img width=\"300\" height=\"300\" alt=\"Watson Image\" src=\"data:image/jpg;base64,{{msg.payload}}\"/>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1504,"y":662.2000122070312,"wires":[[]]},{"id":"8b959cfa.cfe6b","type":"ui_template","z":"64b163ae.fda18c","group":"a73c1172.0d7d5","name":"Take a TJBot Raspberry Pi Camera Photo","order":1,"width":"0","height":"0","format":"<div class=\"photo-wrapper\">\n   <md-button class=\"photo-button\">\n       Take a TJBot Raspberry Pi Camera Photo\n       <i class=\"fa fa-camera camera-icon\"></i>\n    </md-button>\n</div>\n\n<style>\n   .photo-wrapper { \n       width: 100%;\n       height: 100%;\n       text-align: center;\n    }\n    .photo-button {\n        width: 100%;\n        height: 100%;\n        margin: 0 auto;\n        background-color:red;\n    }\n    \n    .camera-icon {\n        margin-left: 10px;\n        font-size: 15px;\n    }\n</style>\n\n<script>\n\n(function($scope) {\n  /*\nlet card = $(\".photo-wrapper\").parent()\ncard.css(\"padding-top\", \"0\");\ncard.css(\"padding-bottom\", \"0\");*/\n\n$('.photo-wrapper').on('click touch', function(e) {\n    e.preventDefault(); //prevent default behavior\n    $scope.send({\"payload\": 2});\n});\n\n\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":110.26666259765625,"y":276.26666259765625,"wires":[["25275449.3fcb7c"]]},{"id":"1b28e91.842c497","type":"ui_template","z":"64b163ae.fda18c","group":"a73c1172.0d7d5","name":"Ask Watson to summarize people in this photo","order":4,"width":"0","height":"0","format":"<div class=\"summarize-people-wrapper\">\n   <md-button class=\"summarize-people-button\">\n       Ask Watson to summarize people in this photo\n       <i class=\"fa fa-eye icon\"></i>\n    </md-button>\n</div>\n\n<style>\n   .summarize-people-wrapper { \n       width: 100%;\n       height: 100%;\n       text-align: center;\n    }\n    .summarize-people-button {\n        width: 100%;\n        height: 100%;\n        margin: 0 auto;\n        background-color:red;\n    }\n    \n    .icon {\n        font-size: 20px;\n        margin-left: 10px;\n    }\n</style>\n\n<script>\n\n(function($scope) {\n  /*\nlet card = $(\".summarize-people-wrapper\").parent()\ncard.css(\"padding-top\", \"0\");\ncard.css(\"padding-bottom\", \"0\");\ncard.css(\"top\", \"520px\");*/\n\n$('.summarize-people-wrapper').on('click touch', function(e) {\n    e.preventDefault(); //prevent default behavior\n     $scope.send({\"params\": {\"detect_mode\": \"faces\"}});\n});\n\n\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":185,"y":825.1333618164062,"wires":[["7c5fb252.9dbe24"]]},{"id":"4e15553.cbd4e2c","type":"ui_template","z":"64b163ae.fda18c","group":"a73c1172.0d7d5","name":"Ask Watson to summarize this photo","order":3,"width":"0","height":"0","format":"<div class=\"summarize-photo-wrapper\">\n   <md-button class=\"summarize-photo-button\">\n       Ask Watson to summarize this photo\n       <i class=\"fa fa-eye icon\"></i>\n    </md-button>\n</div>\n\n<style>\n   .summarize-photo-wrapper { \n       width: 100%;\n       height: 100%;\n       text-align: center;\n    }\n    .summarize-photo-button {\n        width: 100%;\n        height: 100%;\n        margin: 0 auto;\n        background-color:red;\n    }\n    \n    .icon {\n        font-size: 20px;\n        margin-left: 10px;\n    }\n</style>\n\n<script>\n\n(function($scope) {\n    \nlet card = $(\".summarize-photo-wrapper\").parent()\ncard.css(\"padding-top\", \"0\");\ncard.css(\"padding-bottom\", \"0\");\n\n  \n\n$('.summarize-photo-wrapper').on('click touch', function(e) {\n    e.preventDefault(); //prevent default behavior\n     $scope.send({\"params\": {\"detect_mode\": \"classify\"}});\n});\n\n\n})(scope);\n</script>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":168.26666259765625,"y":938.1333618164062,"wires":[["c75054b.eacd7a8"]]},{"id":"2c97c51d.2a1912","type":"ui_group","z":"","name":"Audio","tab":"547d924d.c0d8cc","order":1,"disp":true,"width":"9","collapse":false},{"id":"5b78f79c.3bb6a","type":"ui_group","z":"","name":"Conversation","tab":"547d924d.c0d8cc","order":3,"disp":true,"width":"9","collapse":false},{"id":"a73c1172.0d7d5","type":"ui_group","z":"","name":"Watson Visual Recognition","tab":"62caf7a0.4f7678","order":1,"disp":true,"width":"10","collapse":false},{"id":"18701689.f5f021","type":"ui_group","z":"","name":"Visual Analysis","tab":"62caf7a0.4f7678","order":2,"disp":true,"width":"8","collapse":false},{"id":"547d924d.c0d8cc","type":"ui_tab","z":"","name":"Let's have a conversation      ","icon":"fa-comments","order":2,"disabled":false,"hidden":false},{"id":"62caf7a0.4f7678","type":"ui_tab","z":"","name":"Let me take a look","icon":"fa-eye","order":1,"disabled":false,"hidden":false}]